<h1>Welcome {{user.firstname}} </h1>

<h4>Your Stories</h4>
{{#if stories}}

<table class="striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Status</th>
            <th></th>
            <th>Action</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each stories}}
        <tr>
            <td> <a href="/stories/show/{{id}}">{{title}}</a></td>
            <td>{{formatDate date 'Do MMMM YYYY'}}</td>
            <td>
                <span class="badge ">{{status}}</span>
            </td>
            <td>
                <form action="/stories/{{id}}?_method=DELETE" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="waves-effect red darken-1 waves-light btn-small">
                        <i class="fa fa-trash "></i> Delete
                    </button>
                </form>
            </td>
            <td>

            </td>
            <td>
                <a href="/stories/edit/{{id}}" class="waves-effect waves-light  btn-small"><i class="fa fa-pencil-square-o"
                        aria-hidden="true"></i>
                    Edit</a>
            </td>
        </tr>

        {{/each}}

    </tbody>
</table>

{{else}}

<p>No Stories</p>

{{/if}}