<h1>Public stories</h1>

<div class="row">
    {{#each stories}}
    <div class="col s12 m4">
        <div class="hoverable card story-text">
            <div class="card-image">
                {{#if user}}
                {{{editIcon user.id ../user.id ids}}}
                {{/if}}

            </div>
            <div class="card-content center-align">
                <h5>{{title}}</h5>
                <p class="">{{{ truncate body 150}}}</p>
                <br>
                <div class="chip">
                    <img src="{{user.image}}" alt="Contact Person">
                    {{user.firstname}} {{user.lastname}}
                </div>
            </div>
            <div class="card-action center-align">
                <a class="btn-gray" href="/stories/show/{{id}}"> <i class="fa fa-book" aria-hidden="true"></i> View</a>
            </div>
        </div>
    </div>
    {{else}}
    <p>No stories Found</p>
    {{/each}}
</div>